@media screen and (min-width: 720px) {
  .component {
    width: 700px;
  }
}

.component {
  margin: 0 auto;
  padding: 0.5em;
  text-align: left;
}

.link {
  font-size: larger;
  color: royalblue;
}

img {
  width: 100%;
}

h2, hr, body {
  color: #faf8f7;
  background-color: #1c1a1a;
}